In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

In [2]:
data=pd.read_csv('insurance.csv')

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data.shape

(1338, 7)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [8]:
data['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [9]:
data['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [10]:
data['children'].value_counts()

0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64

In [11]:
data['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [12]:
data.replace({'sex':{'male':0,'female':1}}, inplace=True)
data.replace({'smoker':{'yes':0,'no':1}}, inplace=True)
data.replace({'region':{'southeast':1,'southwest':2,'northeast':3,'northwest':4}}, inplace=True)

In [13]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       2  16884.92400
1   18    0  33.770         1       1       1   1725.55230
2   28    0  33.000         3       1       1   4449.46200
3   33    0  22.705         0       1       4  21984.47061
4   32    0  28.880         0       1       4   3866.85520

In [14]:
X = data.drop(['charges'],axis=1)
y = data['charges']

In [15]:
print(X)

      age  sex     bmi  children  smoker  region
0      19    1  27.900         0       0       2
1      18    0  33.770         1       1       1
2      28    0  33.000         3       1       1
3      33    0  22.705         0       1       4
4      32    0  28.880         0       1       4
...   ...  ...     ...       ...     ...     ...
1333   50    0  30.970         3       1       4
1334   18    1  31.920         0       1       3
1335   18    1  36.850         0       1       1
1336   21    1  25.800         0       1       2
1337   61    1  29.070         0       0       4

[1338 rows x 6 columns]

In [16]:
print(y)

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=32)

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [19]:
lr = LinearRegression()
lr.fit(X_train,y_train)
svm = SVR()
svm.fit(X_train,y_train)
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
gr = GradientBoostingRegressor()
gr.fit(X_train,y_train)

GradientBoostingRegressor()

In [20]:
y_prdt1 = lr.predict(X_test)
y_prdt2 = svm.predict(X_test)
y_prdt3 = rf.predict(X_test)
y_prdt4 = gr.predict(X_test)

df1 = pd.DataFrame({'Actual':y_test,'Lr':y_prdt1,
                  'svm':y_prdt2,'rf':y_prdt3,'gr':y_prdt4})

In [21]:
df1

           Actual            Lr          svm            rf            gr
939    9487.64420  10589.401036  9307.238893  19809.732264  12737.271159
1204  18223.45120  26102.788310  9106.821782  17107.336388  17827.555137
999    5267.81815   6303.920066  9189.483644   5270.052664   5641.556625
258   11520.09985  11229.288421  9291.005914  19349.837400  12345.831146
1089  10577.08700   9149.260137  9317.829423  11055.180715  11959.032010
...           ...           ...          ...           ...           ...
862   12269.68865  14400.649779  9320.643152  13404.708565  13887.045829
1295   1964.78000    406.691568  9112.887092   4530.693382   2880.894794
292   42112.23560  33599.312769  9147.540081  39658.574363  38478.970466
996    7418.52200  10380.867102  9213.597943  14113.526453   7801.048744
812   11013.71190   8938.254522  9305.611228  17611.857337  14030.805890

[268 rows x 5 columns]

In [22]:
score1 = metrics.r2_score(y_test,y_prdt1)
score2 = metrics.r2_score(y_test,y_prdt2)
score3 = metrics.r2_score(y_test,y_prdt3)
score4 = metrics.r2_score(y_test,y_prdt4)

In [23]:
print(score1,score2,score3,score4)

0.7837353765710606 -0.10189569001730825 0.828243314624219 0.8696495836908112

In [24]:
s1 = metrics.mean_absolute_error(y_test,y_prdt1)
s2 = metrics.mean_absolute_error(y_test,y_prdt2)
s3 = metrics.mean_absolute_error(y_test,y_prdt3)
s4 = metrics.mean_absolute_error(y_test,y_prdt4)

In [25]:
print(s1,s2,s3,s4)

3805.828722080122 7881.3531270740905 2713.2672535579613 2362.5251612132424

In [26]:
data = {'age' : 50,
        'sex' : 1,
        'bmi' : 45,
        'children' : 4,
        'smoker' : 1,
        'region' : 2}

In [27]:
df = pd.DataFrame(data,index=[0])
df

   age  sex  bmi  children  smoker  region
0   50    1   45         4       1       2

In [28]:
new_pred = gr.predict(df)
print("Medical Insurance cost for New Customer is : ",new_pred[0])

Medical Insurance cost for New Customer is :  13377.500252268545

In [29]:
gr = GradientBoostingRegressor()
gr.fit(X,y)

GradientBoostingRegressor()

In [30]:
import joblib

In [31]:
joblib.dump(gr,'model_joblib_gr')

['model_joblib_gr']

In [32]:
model= joblib.load('model_joblib_gr')

In [33]:
model.predict(df)

array([10901.930874])

In [34]:
from tkinter import *

In [35]:
import joblib

In [36]:
def show_entry():
    
    p1=float(e1.get())
    p2=float(e2.get())
    p3=float(e3.get())
    p4=float(e4.get())
    p5=float(e5.get())
    p6=float(e6.get())
    
    model= joblib.load('model_joblib_gr')
    result=model.predict([[p1,p2,p3,p4,p5,p6]])
    Label(master, text="Insurance Cost").grid(row=7)
    Label(master, text= result).grid(row=8)


master=Tk()
master.title("Insurance cost Pridiction")
label= Label(master,text= "Insurance Cost Pridiction" ,bg= "black",
              fg ="white").grid(row=0,columnspan=2)
             
Label(master,text="Age").grid(row=1)
Label(master,text="Male or Female[1/0]").grid(row=2)
Label(master,text="bmi").grid(row=3)             
Label(master,text="Number of children").grid(row=4)
Label(master,text="Smoker yes/no [1/0]").grid(row=5)
Label(master,text="Region[1-4]").grid(row=6) 
             
e1=Entry(master)
e2=Entry(master)
e3=Entry(master)
e4=Entry(master)
e5=Entry(master)
e6=Entry(master)
             
             
e1.grid(row=1,column=1)
e2.grid(row=2,column=1)
e3.grid(row=3,column=1)
e4.grid(row=4,column=1)
e5.grid(row=5,column=1)
e6.grid(row=6,column=1)

Button(master,text="Predict", command= show_entry).grid()
       
       
mainloop()